<!doctype html>
<html class="no-js" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vie Add Page</title>
    <link rel="stylesheet" href="../public/css/foundation.css">
    <link rel="stylesheet" href="../public/css/foundation-icons.css">
    <link rel="stylesheet" href="../public/css/app.css">
    <link href="https://fonts.googleapis.com/css?family=Muli:300,300i,400,400i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <link rel="stylesheet" href="../public/css/cal-heatmap.css">
    <link rel="stylesheet" href="../public/css/font-awesome.css">
  </head>

	<style>
	#viz{
      width:300px; 
      height:200px;
    }
   </style>

  <body>

  	<!-- navigation bar -->
  	<div class="top-bar">
	  <div class="top-bar-left">
	    <ul class=" menu">
	      <li class="menu-text">
	      	<a href="homepage.html">
	      		<img src="../public/images/vie_logo_white.png" alt="Vie Logo">
	      	</a>
	      </li>
	      <li>
	        <a class="menu-elements" href="#">All Courses</a>
	      </li>
	      <li><a class="menu-elements" href="#">All Extracurriculars</a></li>
	    </ul>
	  </div>
	  <div class="top-bar-right">
	    <ul class="menu">
	      <li><input type="search" placeholder="Search"></li>
	      <li><button type="button" class="button">Search</button></li>
	      <li>
	      	<a class="menu-elements loginbtn" onclick="drop()" href="#">&nbsp&nbsp<i class="fi-unlock"></i>&nbsp<b>Login</b> </a>
	      </li>
	      <div class="dropdown">
            <div id="myDropdown" class="dropdown-content">
              <ul id="login-dp">
                <form class="form">
                  <div class="form-group">
                    <input type="email" style="display: block; margin: auto;" placeholder="andrew ID"/>
                  </div>
                  <div class="form-group">
                    <input type="password" style="display: block; margin: auto;" placeholder="password"/>
                  </div>
                  <div class="social-buttons">
                    or login via <br>
                    <a class="button button-fb" style="font-family:Lucida Grande;"><i class="fa fa-fw fa-facebook"></i> Facebook</a>
                    <a class="button button-goog" style="font-family:Lucida Grande; font-weight:bold;"><i class="fa fa-fw fa-google-plus"></i> &nbspGoogle </a>
                  </div>
                </form>
                <div class="bottom text-center">
                  New here ? <a href="#"><b>Join Us</b></a>
                </div>
                <a type="submit" class="button small-12" style="float:right; margin-bottom:14px;" href="dashboard_page_new.html">Sign in!</a>
              </ul>
            </div>
          </div>
	    </ul>
	  </div>
	</div>

	<!-- adding elements to schedule -->

	<div class="row">
		<div class="welcome">
			<b>
				Complete Your Schedule
			</b>
		</div>
	</div>

	<div class="row">
		<div class="small-4 columns white-block">
			<div class="cards">
				<div class="recommended-text">
					<b class="secondary-text">
						My Courses
					</b>
					<hr>
				</div>

				<!-- <div id="container" style="height:300px;"></div> -->
				<!-- New added courses -->
				<div class="added">
					<p class="added_text">
						54-191 Acting for Non-Majors
						<a href="add_page.html">
							<i class="fi-x cross" style="float:right;"></i>
						</a>
					</p> 
				</div>
				<div class="added">
					<p class="added_text">
						15-122 Fundamentals of Programming
						<a href="add_page_2.html">
							<i class="fi-x cross" style="float:right;"></i>
						</a>
					</p> 
				</div>
				<div class="added">
					<p class="added_text">
						67-327 Web Application Security
						<a href="add_page_3.html">
							<i class="fi-x cross" style="float:right;"></i>
						</a>
					</p> 
				</div>
				<div class="added">
					<p class="added_text">
						15-410 Operating System Design
						<a href="add_page_4.html">
							<i class="fi-x cross" style="float:right;"></i>
						</a>
					</p> 
				</div>

				<!-- Button -->

				<div class="adding">
					<a href="#" class="small expanded hollow button load" data-open="listingModal">+ Add Course</a>

					<div id="listingModal" class="reveal large" data-reveal>
						<div class="row">
							<div class="modal-title">
							  <h2 id="modalTitle" class="subtitle-modal">Add Course</h2>
							</div>
						</div>
						<hr>
						<div class="row">
							<div class="small-8 columns">
							</div>
								<div class="small-4 columns">
								<ul class="menu addbar">
						        	<li class="has-form"><input type="search" placeholder="Search courses"></li>
						        	<li><a href="add_page_3.html" class="button">Add</a></li>
					     		</ul>
					     	</div>
						</div>
						<div class="row table-add">
							<table>
							  <thead>
							    <tr>
							    	<th width="50"></th>	
							      	<th>Name</th>
							      	<th class="centralize" width="150">Distributions of Student data</th>
							      	<th class="centralize" width="150">Est. Hours</th>
							      	<th class="centralize" width="150">Status</th>
							      	<th width="150"></th>
							    </tr>
							  </thead>
							  <tbody>
							    <tr>
							      <td></td>
							      <td>
							      	<a data-open="secondModal">
							      		67-364: Practical Data Science
							      	</a>
							      </td>
							      <td width="150">
							      	<div id="container1" style="height:250px;"></div>
										</td>
							      <td class="medium">9 hours/week</td>
							      <td class="medium" style="text-align:center;">Medium</td>
							      <td><a href="add_page.html" class="button">Add</a></td>
							    </tr>
							    <tr>
							      <td></td>
							      <td>
							      	<a data-open="secondModal">
							      		15-112: Fundamentals of Programming
							      	</a>
							      </td>
							      <td>
							      	<div id="container2" style="height:250px;"></div>
										</td>
							      <td class="busy">15 hours/week</td>
							      <td class="busy" style="text-align:center;">Busy</td>
							      <td><a href="add_page.html" class="button">Add</a></td>
							    </tr>
							    <tr>
							      <td></td>
							      <td>
							      	<a data-open="secondModal">
							      		67-327 Web Application Security
							      	</a>
							      </td>
							      <td>
							      	<div id="container3" style="height:250px;"></div>
										</td>
							      <td class="light">7 hours/week</td>
							      <td class="light" style="text-align:center;">Light</td>
							      <td><a href="add_page.html" class="button">Add</a></td>
							    </tr>
							  </tbody>
							</table>
						</div>
					</div>


					<div class="reveal large" id="secondModal" data-reveal>
						<div class="padpadpad"></div>
					  <h2 class="secondary-text modal-title">15-112: Fundamentals of Programming</h2>
					  <b class="color-code">
					  	15 hours/week (Busy) | 12 Units
					  </b>
					  <p class="modal-desc">	A technical introduction to the fundamentals of programming with an emphasis on producing clear, robust, and reasonably efficient code using top-down design, informal analysis, and effective testing and debugging. Starting from first principles,we will cover a large subset of the Python programming language, including its standard libraries and programming paradigms. We will also target numerous deployment scenarios, including standalone programs, shell scripts, and web-based applications.</p>
					  <div class="row">
					  	<div class="small-9 columns"></div>
					  	<div class="small-3 columns">
					  		<a href="#" class="button" data-open="listingModal">Back</a>
					  		<a href="add_page.html" class="button submit-button">Add to Schedule</a>
					  	</div>
					  </div>
					  <button class="close-button" data-close aria-label="Close reveal" type="button">
					    <span aria-hidden="true">&times;</span>
					  </button>
					</div>

				</div>

			</div>
		</div>
		<div class="small-4 columns white-block">
			<div class="cards">
				<div class="recommended-text">
					<b class="secondary-text">
						My Extracurriculars
					</b>
					<hr>

				</div>

				<div class="added">
					<p class="added_text">
						Scotch N Soda Theatre&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<b>16 hrs/wk</b>
						<a href="add_page.html">
							<i class="fi-x cross" style="float:right;"></i>
						</a>
					</p> 
				</div>
				<div class="added">
					<p class="added_text">
						Part-Time Work: Barista&nbsp&nbsp&nbsp&nbsp<b>20 hrs/wk</b>
						<a href="add_page_2.html">
							<i class="fi-x cross" style="float:right;"></i>
						</a>
					</p> 
				</div>

				<!-- Button -->

				<div class="adding">
					<button type="button" class="small expanded hollow button" data-open="listingModalExtra">+ Add Extracurricular</button>
				</div>
			</div>
		</div>

		<div class="small-4 columns white-block">
			<div class="cards visualizations">
				<ul class="tabs round" id="visuals" data-tabs>
  					<li class="tabs-title is-active"><a class="tab-text round-left" href="#panel1" aria-selected="true">&nbsp&nbsp&nbsp&nbspWeekly Hours&nbsp&nbsp&nbsp&nbsp</a></li>
  					<li class="tabs-title"><a class="tab-text round-right" href="#panel2">&nbsp&nbsp&nbsp&nbspMonthly Heatmap&nbsp&nbsp&nbsp&nbsp</a></li>
				</ul>

				<div class="tabs-content round" data-tabs-content="visuals">
					<div class="tabs-panel is-active" id="panel1">
						<div id="viz" style="text-align:center;margin:auto;"></div>
					</div>
					<div class="tabs-panel" id="panel2">
						<div id="cal-heatmap" class="centralize"></div>
					</div>
				</div>
			</div>

			<!--Recommended Courses/Extracurriculars -->

			<div class="cards visualizations">
				<div class="recommended-text">
					<b class="secondary-text">
						Recommended Courses
					</b>
					<hr>
					<div class="row">
						<div class="small-8 columns">Robotics for Creatives</div>
						<div class="small-2 columns busy">Busy</div>
						<div class="small-2 columns">
							<a href="add_page.html">
								&nbsp&nbsp&nbsp<i class="fi-plus"></i>
							</a>
						</div>
					</div>
					<hr>
					<div class="row">
						<div class="small-8 columns">Mobile Application Dev iOS</div>
						<div class="small-2 columns busy">Busy</div>
						<div class="small-2 columns">
							<a href="add_page_2.html">
								&nbsp&nbsp&nbsp<i class="fi-plus"></i>
							</a>
						</div>
					</div>
					<hr>
					<div class="row">
						<div class="small-8 columns">Differential & Integral Calcul</div>
						<div class="small-2 columns medium">Medium</div>
						<div class="small-2 columns">
							<a href="add_page_3.html">
								&nbsp&nbsp&nbsp<i class="fi-plus"></i>
							</a>
						</div>
					</div>
					<hr>
					<div class="row">
						<div class="small-8 columns">Communication Design</div>
						<div class="small-2 columns medium">Medium</div>
						<div class="small-2 columns">
							<a href="add_page_4.html">
								&nbsp&nbsp&nbsp<i class="fi-plus"></i>
							</a>
						</div>
					</div>
					<hr>
					<div class="row">
						<div class="small-8 columns">Negotiation and Conflict</div>
						<div class="small-2 columns light">Light</div>
						<div class="small-2 columns">
							<a href="add_page_5.html">
								&nbsp&nbsp&nbsp<i class="fi-plus"></i>
							</a>
						</div>
					</div>
					<hr>
					<div class="row">
						<div class="small-8 columns">Singing for Actors II</div>
						<div class="small-2 columns light">Light</div>
						<div class="small-2 columns">
							<a href="add_page_6.html">
								&nbsp&nbsp&nbsp<i class="fi-plus"></i>
							</a>
						</div>
					</div>
					<hr>
					<div class="row">
						<div class="small-8 columns">Broadway Dance Styles</div>
						<div class="small-2 columns light">Light</div>
						<div class="small-2 columns">
							<a href="add_page_7.html">
								&nbsp&nbsp&nbsp<i class="fi-plus"></i>
							</a>
						</div>
					</div>
					<hr>
					<div class="row">
						<div class="small-8 columns">Web Application Security</div>
						<div class="small-2 columns light">Light</div>
						<div class="small-2 columns">
							<a href="add_page_3.html">
								&nbsp&nbsp&nbsp<i class="fi-plus"></i>
							</a>
						</div>
					</div>
				</div>
			</div>

			<!-- Submit button -->

			<div class="small-9 columns">
			</div>

			<div class="small-3 columns">
				<a role="button" aria-label="submit form" href="dashboard_page.html" class="button radius submit-button">Submit</a>
			</div>

		</div>
	</div>
  </body>

	<script src="../public/js/vendor/jquery.js"></script>
  <script src="../public/js/vendor/foundation.js"></script>
  <script src="../public/js/app.js"></script>
  <script src="../public/js/raphael-2.1.4.min.js"></script>
  <script src="../public/js/justgage.js"></script>
  <script src="../public/js/d3.min.js"></script>
  <script src="../public/js/cal-heatmap.min.js"></script>
  <script src="http://code.highcharts.com/highcharts.js"></script>
  <script src="http://code.highcharts.com/highcharts-more.js"></script>
  <script src="plot1.js"></script>
  <script src="plot2.js"></script>
  <script src="plot3.js"></script>

  <script>
    var cal = new CalHeatMap();
    cal.init({
      data: "analyticstrr.csv",
      dataType: "csv",
      start: new Date(2017, 0),
      domain: "month",
      subDomain: "day",
      range: 5,
      afterLoadData: function(d) {
        var stats = {};
        var keys = Object.keys(d[0]);
        for (var i = 0, total = d.length; i < total; i++ ) {
          stats[((parseInt(d[i][keys[0]], 10) * 86400) + new Date(2017, 0, 15) / 1000)] = parseInt(d[i][keys[1]]);
        }
        console.log(stats);
        return stats;
      },
      cellsize: 15,
      domainGutter: 10,
      cellradius: 5,
      cellpadding: 1,
      cellLabel: {
        empty: "{date}",
        filled: "{count} {name} {connector} {date}"
      },
      itemName : ["hour", "hours"],
      scale: [0, 5, 10, 30]
    });

		document.addEventListener("DOMContentLoaded", function(event){
    	var viz = new JustGage({
        id: 'viz',
        value: 66,
        min: 0,
        max: 168,
        //symbol: '%',
        pointer: true,
        title: "Average Hours / Week",
        label: "66 hours",
        textRenderer: custom,
        gaugeWidthScale: 0.6,
        customSectors: [{
          color: '#00ff00',
          lo: 50,
          hi: 100
        }, {
          color: '#ff33cc',
          lo: 0,
          hi: 50
        }],
        counter: true
      });

      function custom(val) {
        return Math.round(val/168.0*100).toString() + '%';
    	}

    });

    function drop() {
      document.getElementById("myDropdown").classList.toggle("show");
    }

    $(".load").click(function(){
    	var chart1 = $('#container1').highcharts();
    	chart1.redraw();
    	var chart2 = $('#container2').highcharts();
    	chart2.redraw();
    	var chart3 = $('#container3').highcharts();
    	chart3.redraw();
		});

  </script>
 </html>