<!doctype html>
<html class="no-js" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vie Add Page</title>
    <link rel="stylesheet" href="../public/css/foundation.css">
    <link rel="stylesheet" href="../public/css/app.css">
    <link href="https://fonts.googleapis.com/css?family=Muli:300,300i,400,400i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
  </head>
  <body>

  	<!-- navigation bar -->
  	<div class="top-bar">
	  <div class="top-bar-left">
	    <ul class="dropdown menu" data-dropdown-menu>
	      <li class="menu-text">
	      	<a href="homepage.html">
	      		<img src="../public/images/vie_logo_white.png" alt="Vie Logo">
	      	</a>
	      </li>
	      <li>
	        <a class="menu-elements" href="#">All Courses</a>
	      </li>
	      <li><a class="menu-elements" href="#">All Extracurriculars</a></li>
	    </ul>
	  </div>
	  <div class="top-bar-right">
	    <ul class="menu">
	      <li><input type="search" placeholder="Search"></li>
	      <li><button type="button" class="button">Search</button></li>
	      <li>
	      	<a class="menu-elements" href="#">Login/Signup</a>
	      </li>
	    </ul>
	  </div>
	</div>

	<!-- adding elements to schedule -->

	<div class="row">
		<div class="welcome">
			<b>
				Complete Your Schedule
			</b>
		</div>
	</div>

	<div class="row">
		<div class="small-4 columns white-block">
			<div class="cards">
				<div class="recommended-text">
					<b class="secondary-text">
						My Courses
					</b>
				</div>
				<!-- New added courses -->
				<div class="added">
					<p class="added_text">
						15-112:Fundamentals of Programming
					</p>
				</div>

				<!-- Button -->

				<div class="adding">
					<a href="#" class="small expanded hollow button" data-open="listingModal">+ Add Course</a>

					<div id="listingModal" class="reveal" data-reveal>
						<div class="row">
							<div class="modal-title">
							  <h2 id="modalTitle" class="subtitle-modal">Add Course</h2>
							</div>
						</div>
						<hr>
						<div class="row">
							<div class="small-6 columns">
							</div>
								<div class="small-6 columns">
								<ul class="menu addbar">
						        	<li class="has-form"><input type="search" placeholder="Search courses"></li>
						        	<li><a href="add_page.html" class="button">Add</a></li>
					     		</ul>
					     	</div>
						</div>
						<div class="row">
							<div>
							  <p class="lead">Your couch.  It is mine.</p>
							  <p>I'm a cool paragraph that lives inside of an even cooler modal. Wins!</p>
							  <a class="close-button" data-close>&#215;</a>
							</div>
						</div>

						<div class="row">
							
						</div>

					</div>
				</div>

				

			</div>
		</div>
		<div class="small-4 columns white-block">
			<div class="cards">
				<div class="recommended-text">
					<b class="secondary-text">
						My Extracurriculars
					</b>
				</div>

				<!-- New added courses -->

				<div class="added">
					<p class="added_text">
						Scotch N' Soda Theatre
					</p>
				</div>

				<!-- Button -->

				<div class="adding">
					<button type="button" class="small expanded hollow button">+ Add Extracurricular</button>
				</div>
			</div>
		</div>

		<div class="small-4 columns white-block">
			<div class="cards visualizations">
				<ul class="tabs" id="visuals" data-tabs>
  					<li class="tabs-title is-active"><a class="tab-text" href="#panel1" aria-selected="true">Weekly Hours</a></li>
  					<li class="tabs-title"><a class="tab-text" href="#panel2">Monthly Heatmap</a></li>
				</ul>

				<div class="tabs-content" data-tabs-content="visuals">
  					<div class="tabs-panel is-active" id="panel1">
  						<p>Nerf This</p>
  					</div>
  					<div class="tabs-panel" id="panel2">
  						<p>WINKY FACE</p>
  					</div>
  				</div>

			</div>

			<!--Recommended Courses/Extracurriculars -->

			<div class="cards visualizations">
				<div class="recommended-text">
					<b class="secondary-text">
						Recommended Courses
					</b>
				</div>

			</div>

			<!-- Submit button -->

			<div class="small-9 columns">
			</div>

			<div class="small-3 columns">
				<a role="button" aria-label="submit form" href="#" class="button radius submit-button">Submit</a>
			</div>



		</div>
	</div>

	<script src="../public/js/vendor/jquery.js"></script>
    <script src="../public/js/vendor/what-input.js"></script>
    <script src="../public/js/vendor/foundation.js"></script>
    <script src="../public/js/app.js"></script>
  	

	

  </body>
 </html>