<html class="no-js" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vie Dashboard</title>
    <link rel="stylesheet" href="../public/css/foundation.css">
    <link rel="stylesheet" href="../public/css/foundation-icons.css">
    <link rel="stylesheet" href="../public/css/font-awesome.css">
    <link rel="stylesheet" href="../public/css/app.css">
    <link href="https://fonts.googleapis.com/css?family=Muli:300,300i,400,400i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <link rel="stylesheet" href="../public/css/slick.css"/>
    <link rel="stylesheet" href="../public/css/slick-theme.css"/>
    <link rel="stylesheet" href="../public/css/cal-heatmap.css">
  </head>

	<style>
		#g1, #g2, #g3 {
      width:500px; 
      height:200px;
      display:inline-block;
    }

    .slick-prev:before {
      color: #302e2f;
      font-size: 30px;
    }

    .slick-next:before {
      color: #302e2f;
      font-size: 30px;
    }
   </style>

  <body>

  	<!-- navigation bar -->
  	<nav class="top-bar" data-topbar>
  	  <div class="top-bar-left">
  	    <ul class="menu">
  	      <li class="menu-text">
  	      	<a href="homepage.html">
              <img src="../public/images/vie_logo_white.png" alt="Vie Logo">
            </a>
  	      </li>
  	      <li>
  	        <a class="menu-elements" href="#">All Courses</a>
  	      </li>
  	      <li><a class="menu-elements" href="#">All Extracurriculars</a></li>
  	    </ul>
  	  </div>
  	  <div class="top-bar-right">
  	    <ul class="menu">
  	      <li><input type="search" placeholder="Search for classes"></li>
  	      <li><button type="button" class="button">Search</button></li>
  	      <li>
            <a class="menu-elements" href="#">&nbsp&nbsp<i class="fi-torso"></i><b>&nbsp&nbspMin Yan</b> </a>
            
          </li>
          
  	</nav>




	<!-- adding elements to schedule -->

	<div class="row">
		<div class="welcome">
			<b>
				Your Schedule
			</b>
		</div>
	</div>

	<div class="row">
    <div class="small-3 columns white-block">
      <div class="cards">
        <div class="recommended-text">
          <b class="secondary-text">
            Short Survey
          </b>
          <hr>
          Time spent on:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp( hrs/wk )
          <br><br>
          <ul class="menu addbar">
            <li><a class="button hours">54191</a></li>
            <li class="has-form"><input type="search" class="boxxwidth" placeholder="Acting for Non-Majors"/></li><br>
            <li><a class="button hours">15122</a></li>
            <li class="has-form"><input type="search" class="boxxwidth" placeholder="Fundamentals of Programming"/></li><br>
            <li><a class="button hours">67327</a></li>
            <li class="has-form"><input type="search" class="boxxwidth" placeholder="Web Application Security"/></li><br>
            <li><a class="button hours">ECA</a></li>
            <li class="has-form"><input type="search" class="boxxwidth" placeholder="Scotch N Soda Theatre"/></li><br>
          <a href="dashboard_page_new.html" class="button submit-button">Submit</a>
        </div>        
      </div>
    </div>
		<div class="small-4 columns white-block">
			<div class="cards">
				<div class="recommended-text">
					<b class="secondary-text">
						Weekly Overview
					</b>
					<hr>
				</div>
        <div class="small-8 small-centered">
          <div class="gauges">
            <div id="g1"></div>
            <div id="g2"></div>
            <div id="g3"></div>
          </div>
        </div>
        <br>
			</div>
		</div>
		<div class="small-5 columns white-block">
			<div class="cards">
				<div class="recommended-text">
          <b class="secondary-text">
            Monthly Heatmap
            <hr>
          </b>
          <div id="cal-heatmap" class="special centralize"></div>
			  </div>
			</div>
		</div>
	</div>

  <script src="../public/js/vendor/jquery.js"></script>
  <script src="../public/js/vendor/foundation.min.js"></script>
  <script src="../public/js/raphael-2.1.4.min.js"></script>
  <script src="../public/js/justgage.js"></script>
  <script src="../public/js/slick.min.js"></script>
  <script src="../public/js/d3.min.js"></script>
  <script src="../public/js/cal-heatmap.min.js"></script>

  <script>
    var cal = new CalHeatMap();
      cal.init({
        data: "analyticstrr.csv",
        dataType: "csv",
        start: new Date(2017, 0),
        domain: "month",
        subDomain: "day",
        range: 5,
        afterLoadData: function(d) {
          var stats = {};
          var keys = Object.keys(d[0]);
          for (var i = 0, total = d.length; i < total; i++ ) {
            stats[((parseInt(d[i][keys[0]], 10) * 86400) + new Date(2017, 0, 15) / 1000)] = parseInt(d[i][keys[1]]);
          }
          console.log(stats);
          return stats;
        },
        cellsize: 15,
        domainGutter: 10,
        cellradius: 5,
        cellpadding: 1,
        cellLabel: {
          empty: "{date}",
          filled: "{count} {name} {connector} {date}"
        },
        itemName : ["hour", "hours"],
        scale: [0, 5, 10, 30]
      });

    document.addEventListener("DOMContentLoaded", function(event){
      var g1 = new JustGage({
        id: 'g1',
        value: 70,
        min: 0,
        max: 168,
        pointer: true,
        title: "Last week",
        titleFontFamily: "Varela Round",
        valueFontFamily: "Varela Round",
        label: "70 hours",
        textRenderer: custom,
        gaugeWidthScale: 0.6,
        counter: true
      });

      var g2 = new JustGage({
        id: 'g2',
        value: 123,
        min: 0,
        max: 168,
        pointer: true,
        title: "This week",
        titleFontFamily: "Varela Round",
        valueFontFamily: "Varela Round",
        label: "123 hours",
        textRenderer: custom,
        gaugeWidthScale: 0.6,
        counter: true
      });

      var g3 = new JustGage({
        id: 'g3',
        value: 164,
        min: 0,
        max: 168,
        pointer: true,
        title: "Next week",
        titleFontFamily: "Varela Round",
        valueFontFamily: "Varela Round",
        label: "164 hours",
        textRenderer: custom,
        gaugeWidthScale: 0.6,
        counter: true
      });

      function custom(val) {
        return Math.round(val/168*100) + '%';
      }

    });

    $(document).ready(function(){
      $('.gauges').slick({
        dots: true,
        infinite: false,
        initialSlide: 1,
      });
    });

  </script>

  </body>
 </html>
