<html class="no-js" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vie Dashboard</title>
    <link rel="stylesheet" href="../public/css/foundation.css">
    <link rel="stylesheet" href="../public/css/app.css">
    <link href="https://fonts.googleapis.com/css?family=Muli:300,300i,400,400i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
  </head>

  <script src="https://www.gstatic.com/charts/loader.js"></script>
  <script src="../public/js/raphael-2.1.4.min.js"></script>
  <script src="../public/js/justgage.js"></script>

  <script>

  	// Old calendar chart
  	google.charts.load("current", {packages:["calendar"]});
    google.charts.setOnLoadCallback(drawChart);
  	function drawChart() {
      var dataTable = new google.visualization.DataTable();
      dataTable.addColumn({ type: 'date', id: 'Date' });
      dataTable.addColumn({ type: 'number', id: 'Hours' });
      dataTable.addRows([
        [ new Date(2017, 2, 3), 637 ],
        [ new Date(2017, 2, 8), 608 ],
        [ new Date(2017, 2, 13), 629 ],
        [ new Date(2017, 2, 14), 524 ],
        [ new Date(2017, 2, 15), 524 ],
        [ new Date(2017, 2, 16), 608 ],
        [ new Date(2017, 2, 17), 629 ],
        [ new Date(2017, 2, 22), 637 ],
        [ new Date(2017, 2, 24), 524 ],
        [ new Date(2017, 2, 26), 524 ],
        [ new Date(2017, 2, 28), 608 ],
        [ new Date(2017, 2, 30), 629 ],
        [ new Date(2017, 3, 4), 637 ],
        [ new Date(2017, 3, 19), 524 ],
        [ new Date(2017, 3, 20), 624 ],
        [ new Date(2017, 3, 24), 598 ],
        [ new Date(2017, 3, 26), 629 ],
        [ new Date(2017, 4, 4), 577 ],
        [ new Date(2017, 4, 5), 575 ],
        [ new Date(2017, 4, 12), 538 ],
        [ new Date(2017, 4, 13), 529 ],
        [ new Date(2017, 4, 19), 523 ],
        [ new Date(2017, 4, 23), 545 ],
        [ new Date(2017, 4, 24), 586 ],
        [ new Date(2017, 4, 30), 600 ]
      ]);

    	var chart = new google.visualization.Calendar(document.getElementById('calendar_div'));

    	var options = {
	      width: 420,
	      height: 250,
	      calendar: {
			    unusedMonthOutlineColor: {
			      stroke: 'black',
			      strokeOpacity: 0.8,
			      strokeWidth: 0.8
			    }
			  }
	    };
    	chart.draw(dataTable, options);
    }


		document.addEventListener("DOMContentLoaded", function(event){
    	var g1 = new JustGage({
        id: 'g1',
        value: 70,
        min: 0,
        max: 168,
        //symbol: '%',
        pointer: true,
        title: "Last week",
        label: "70 hours",
        textRenderer: custom,
        gaugeWidthScale: 0.6,
        customSectors: [{
          color: '#00ff00',
          lo: 50,
          hi: 100
        }, {
          color: '#ff33cc',
          lo: 0,
          hi: 50
        }],
        counter: true
      });

      var g2 = new JustGage({
        id: 'g2',
        value: 123,
        min: 0,
        max: 168,
        //symbol: '%',
        pointer: true,
        title: "Average hours / week",
        label: "123 hours",
        textRenderer: custom,
        gaugeWidthScale: 0.6,
        counter: true
      });

      function custom(val) {
        if (val < 75) {
            return '41%';
        } else if (val > 50) {
            return '73%';
        } else if (val === 50) {
            return 'ideal';
        }
    	}

    });
	</script>
	<style>
		#g1, #g2 {
      width:500px; 
      height:200px;
    }
   </style>

  <body>

  	<!-- navigation bar -->
  	<div class="top-bar">
	  <div class="top-bar-left">
	    <ul class="dropdown menu" data-dropdown-menu>
	      <li class="menu-text">
	      	<img src="../public/images/vie_logo_white.png" alt="Vie Logo">
	      </li>
	      <li>
	        <a class="menu-elements" href="#">All Courses</a>
	      </li>
	      <li><a class="menu-elements" href="#">All Extracurriculars</a></li>
	    </ul>
	  </div>
	  <div class="top-bar-right">
	    <ul class="menu">
	      <li><input type="search" placeholder="Search"></li>
	      <li><button type="button" class="button">Search</button></li>
	      <li>
	      	<a class="menu-elements" href="dashboard_page_new.html">Login/Signup</a>
	      </li>
	    </ul>
	  </div>
	</div>

	<!-- adding elements to schedule -->

	<div class="row">
		<div class="welcome">
			<b>
				Your Schedule
			</b>
		</div>
	</div>

	<div class="row">
		<div class="small-6 columns white-block">
			<div class="cards">
				<div class="recommended-text">
					<b class="secondary-text">
						Weekly Overview
					</b>
					<hr>
          
				</div>
        <div id="g2" class="small-12 small-centered columns"></div>
      	
      	<br><br>
			</div>
		</div>
		<div class="small-6 columns white-block">
			<div class="cards">
				<div class="recommended-text">
				<b class="secondary-text">
					Monthly Heatmap
					<hr>
				</b>
			</div>

			<div id="calendar_div"; style="margin-left:50px";></div>
			</div>
		</div>
	</div>
  </body>
 </html>
