<html class="no-js" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vie Dashboard</title>
    <link rel="stylesheet" href="../public/css/foundation.css">
    <link rel="stylesheet" href="../public/css/foundation-icons.css">
    <link rel="stylesheet" href="../public/css/font-awesome.css">
    <link rel="stylesheet" href="../public/css/app.css">
    <link href="https://fonts.googleapis.com/css?family=Muli:300,300i,400,400i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <link rel="stylesheet" href="../public/css/cal-heatmap.css">
  </head>

	<style>
		#g1, #g2 {
      width:500px; 
      height:200px;
    }
   </style>

  <body>

  	<!-- navigation bar -->
  	<div class="top-bar">
	  <div class="top-bar-left">
	    <ul class="menu">
	      <li class="menu-text">
	      	<a href="homepage.html">
            <img src="../public/images/vie_logo_white.png" alt="Vie Logo">
          </a>
	      </li>
	      <li>
	        <a class="menu-elements" href="#">All Courses</a>
	      </li>
	      <li><a class="menu-elements" href="#">All Extracurriculars</a></li>
	    </ul>
	  </div>
	  <div class="top-bar-right">
	    <ul class="menu">
	      <li><input type="search" placeholder="Search for classes"></li>
	      <li><button type="button" class="button">Search</button></li>
	      <li>
	      	<a class="menu-elements loginbtn" onclick="drop()" href="#">&nbsp&nbsp<i class="fi-unlock"></i>&nbsp<b>Login</b> </a>
	      </li>
        <div class="dropdown">
            <div id="myDropdown" class="dropdown-content">
              <ul id="login-dp">
                <form class="form">
                  <div class="form-group">
                    <input type="email" style="display: block; margin: auto;" placeholder="andrew ID"/>
                  </div>
                  <div class="form-group">
                    <input type="password" style="display: block; margin: auto;" placeholder="password"/>
                  </div>
                  <div class="social-buttons">
                    or login via <br>
                    <a class="button button-fb" style="font-family:Lucida Grande;"><i class="fa fa-fw fa-facebook"></i> Facebook</a>
                    <a class="button button-goog" style="font-family:Lucida Grande; font-weight:bold;"><i class="fa fa-fw fa-google-plus"></i> &nbspGoogle </a>
                  </div>
                </form>
                <div class="bottom text-center">
                  New here ? <a href="#"><b>Join Us</b></a>
                </div>
                <a type="submit" class="button small-12" style="float:right; margin-bottom:14px;" href="dashboard_page_new.html">Sign in!</a>
              </ul>
            </div>
          </div>
	    </ul>
	  </div>
	</div>

	<!-- adding elements to schedule -->

	<div class="row">
		<div class="welcome">
			<b>
				Your Schedule
			</b>
		</div>
	</div>

	<div class="row">
		<div class="small-6 columns white-block">
			<div class="cards">
				<div class="recommended-text">
					<b class="secondary-text">
						Weekly Overview
          <hr>
					</b>
          <div id="g2" class="centralize"></div>
				</div>
      	<br><br>
			</div>
		</div>
		<div class="small-6 columns white-block">
			<div class="cards">
				<div class="recommended-text">
  				<b class="secondary-text">
  					Monthly Heatmap
  					<hr>
  				</b>
          <div id="cal-heatmap" class="centralize"></div>
  			</div>
			</div>
		</div>
	</div>
  </body>

  <script src="../public/js/vendor/jquery.js"></script>
  <script src="../public/js/vendor/foundation.js"></script>
  <script src="../public/js/raphael-2.1.4.min.js"></script>
  <script src="../public/js/justgage.js"></script>
  <script src="../public/js/d3.min.js"></script>
  <script src="../public/js/cal-heatmap.min.js"></script>


  <script>
    var cal = new CalHeatMap();
    cal.init({
      data: "analyticstrr.csv",
      dataType: "csv",
      start: new Date(2017, 0),
      domain: "month",
      subDomain: "day",
      range: 5,
      afterLoadData: function(d) {
        var stats = {};
        var keys = Object.keys(d[0]);
        for (var i = 0, total = d.length; i < total; i++ ) {
          stats[((parseInt(d[i][keys[0]], 10) * 86400) + new Date(2017, 0, 15) / 1000)] = parseInt(d[i][keys[1]]);
        }
        console.log(stats);
        return stats;
      },
      cellsize: 15,
      domainGutter: 10,
      cellradius: 5,
      cellpadding: 1,
      cellLabel: {
        empty: "{date}",
        filled: "{count} {name} {connector} {date}"
      },
      itemName : ["hour", "hours"],
      scale: [0, 5, 10, 30]
    });

    document.addEventListener("DOMContentLoaded", function(event){
      var g1 = new JustGage({
        id: 'g1',
        value: 70,
        min: 0,
        max: 168,
        //symbol: '%',
        pointer: true,
        title: "Last week",
        label: "70 hours",
        textRenderer: custom,
        gaugeWidthScale: 0.6,
        customSectors: [{
          color: '#00ff00',
          lo: 50,
          hi: 100
        }, {
          color: '#ff33cc',
          lo: 0,
          hi: 50
        }],
        counter: true
      });

      var g2 = new JustGage({
        id: 'g2',
        value: 127,
        min: 0,
        max: 168,
        //symbol: '%',
        pointer: true,
        title: "Average hours / week",
        label: "127 hours",
        textRenderer: custom,
        gaugeWidthScale: 0.6,
        counter: true
      });

      function custom(val) {
        return Math.round(val/168*100) + '%';
      }

    });

    function drop() {
      document.getElementById("myDropdown").classList.toggle("show");
    }

  </script>
</html>
