.top-bar, .top-bar ul{
	background-color: #302e2f;
}

.top-bar-right{
	padding-top: 20px;
}

.menu-text{
	width: 150px;
}

body{
	font-family: 'Muli', sans-serif;
	background-color: #ee658d;
}

.menu-elements{
	color: white;
}

.menu-elements:hover{
	color: #f0cb72;
}

.welcome{
	font-family: 'Varela Round', sans-serif;
	font-size: 50px;
	color: white;
	text-align: center;
	padding-top: 20px;
}

.subtitle{
	text-align: center;
	color: white;
	font-size: 20px;
}

.has-form{
	width: 40rem;
}

.addbar{
	margin: 0 auto;
}

.white-block{
	padding-top: 30px;
}

.recommended{
	background: white;
	border-radius: 10px;
}

.recommended-text{
	margin-left: 20px;
	margin-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.secondary-text{
	font-family: 'Varela Round', sans-serif;
	font-size: 20px;
	color: black;
}

hr{
	margin-bottom: 0.5em;
	margin-top: 0.5em;
}